<div class="section is-fullscreen">
  <app-my-stepper linear="true">
    <cdk-step label="Personal Details" [stepControl]="frmDetails" [optional]="false">
      <ng-template cdkStepLabel>
        <span class="icon is-medium">
          <fa-icon [icon]="faPerson" size="fa-lg"></fa-icon>
        </span>
        <span>Personal Details</span>
      </ng-template>
      <form (ngSubmit)="frmSubmit(frmDetails)" [formGroup]="frmDetails">
        <div class="container">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">First Name</label>
                <p class="control is-expanded has-icons-right">
                  <input formControlName="firstName" class="input" type="text" placeholder="First Name">
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Last Name</label>
                <p class="control is-expanded has-icons-right">
                  <input formControlName="lastName" class="input" type="text" placeholder="Last Name">
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Email Address</label>
            <div class="control has-icons-right">
              <input formControlName="email" class="input" type="text" placeholder="Text input">
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
        </div>
      </form>
    </cdk-step>
    <cdk-step>
      <!-- using template -->
      <ng-template cdkStepLabel>
        <span class="icon is-medium">
          <fa-icon [icon]="faAddressBook" size="fa-lg"></fa-icon>
        </span>
        <span>Address</span>
      </ng-template>
      <form (ngSubmit)="frmSubmit(frmDetails)" [formGroup]="frmDetails">
        <div class="container">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">First Name</label>
                <p class="control is-expanded has-icons-right">
                  <input formControlName="firstName" class="input" type="text" placeholder="First Name">
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Last Name</label>
                <p class="control is-expanded has-icons-right">
                  <input formControlName="lastName" class="input" type="text" placeholder="Last Name">
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Email Address</label>
            <div class="control has-icons-right">
              <input formControlName="email" class="input" type="text" placeholder="Text input">
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
        </div>
      </form>
    </cdk-step>
    <cdk-step label="Payment Information">
      <ng-template cdkStepLabel>
        <span class="icon is-medium">
          <fa-icon [icon]="faCreditCard" size="fa-lg"></fa-icon>
        </span>
        <span>Payment Information</span>
      </ng-template>
      <form (ngSubmit)="frmSubmit(frmDetails)" [formGroup]="frmDetails">
        <div class="container">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">First Name</label>
                <p class="control is-expanded has-icons-right">
                  <input formControlName="firstName" class="input" type="text" placeholder="First Name">
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Last Name</label>
                <p class="control is-expanded has-icons-right">
                  <input formControlName="lastName" class="input" type="text" placeholder="Last Name">
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Email Address</label>
            <div class="control has-icons-right">
              <input formControlName="email" class="input" type="text" placeholder="Text input">
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
        </div>
      </form>
    </cdk-step>
  </app-my-stepper>
</div>
