<section class="container">
  <!-- The navbar for the wizard -->
  <header class="header">
    <ol>
      <ng-container *ngFor="let step of steps; let i = index;">
        <li [ngClass]="{'active': selectedIndex === i}">
          <a (click)="selectedIndex = i">
            <ng-container *ngIf="step.stepLabel; else showLabelText" [ngTemplateOutlet]="step.stepLabel.template">
            </ng-container>
            <ng-template #showLabelText>
              {{ step.label }}
            </ng-template>
          </a>
        </li>
      </ng-container>
    </ol>
  </header>

  <div class="body" [style.display]="selected ? 'block' : 'none'">
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>

  <ng-container *ngIf="showFooter">
    <footer class="my-footer">
      <div class="buttons">
        <button class="button is-outline is-danger" cdkStepperPrevious>
          <span class="icon medium">
            <fa-icon [icon]="faChevronLeft"> </fa-icon>
          </span>
          <span> Previous</span>
        </button>

        <button [disabled]="linear && !selected.optional && selected.hasError" class="button is-outline is-primary"
          cdkStepperNext>
          <span> Next</span>
          <span class="icon medium">
            <fa-icon [icon]="faChevronRight" size="fa-lg"> </fa-icon>
          </span>
        </button>
      </div>
    </footer>
  </ng-container>
</section>
